@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Roboto", Arial;
  margin: 0;
  padding-top: 70px;
  padding-left: 80px;
  margin-left: 140px;
  height: 100%;
  border-top: 1px solid #ddd;
  overflow-y: auto;
  flex-wrap: wrap;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding: 16px;
}
.container {
  width: 270px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.thumbnail-pic {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 7px;
}

.lower-container {
  display: flex;
}

.pfp {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 0;
}

.video-info {
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.video-title {
  max-width: 210px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
}

.video-auther,
.video-states {
  margin-top: 11px;
  font-size: 11px;
  color: #606060;
}

.video-auther {
  margin-bottom: 4px;
}
hr {
  border: 0;
  height: 1px;
  background-color: #383838;
  margin: 15px 0;
}
